@import "../../../../../config/config";

:local .sidebar {
  flex: 0 0 auto;
  width: 250px;
  background-color: $color-primary;
  color: $color-primary-contrast;
  display: flex;
  flex-direction: column;
}
