@import "../../../../../config/config";

:local .sidebar {
  flex: 0 0 auto;
  width: 250px;
  background-color: $color-primary;
  color: $color-primary-contrast;
  display: flex;
  flex-direction: column;
  height: 96vh;

  .filter {
    overflow: hidden;
    padding-left: .2rem;
    border-left: 12px solid $color-primary-dark !important;

    a {
      color: $color-text;
      font-size: .8rem;
    }

    a:hover {
      text-decoration: line-through !important;
      text-decoration-color: $color-text;
    }
  }

  .search {
    width: 124px;
    height: 26px;
    font-size: 0.9rem;
  }
}
