@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?e65qhz');
  src:  url('fonts/icomoon.eot?e65qhz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?e65qhz') format('truetype'),
    url('fonts/icomoon.woff?e65qhz') format('woff'),
    url('fonts/icomoon.svg?e65qhz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-folder-collapsed:before {
  content: "\e908";
}
.icon-folder:before {
  content: "\e92f";
}
.icon-loader:before {
  content: "\e982";
}
.icon-validate:before {
  content: "\e9b8";
}
.icon-file-o:before {
  content: "\e906";
}
.icon-file:before {
  content: "\e907";
}
.icon-reload:before {
  content: "\f01e";
}
.icon-crosshairs:before {
  content: "\f05b";
}
.icon-expand:before {
  content: "\f065";
}
.icon-collapse:before {
  content: "\f066";
}
.icon-pin:before {
  content: "\f08d";
}
.icon-external-link:before {
  content: "\f08e";
}
.icon-menu:before {
  content: "\f142";
}
.icon-copy:before {
  content: "\e905";
}
.icon-edit:before {
  content: "\e904";
}
.icon-remove:before {
  content: "\e903";
}
.icon-plus:before {
  content: "\e900";
}
.icon-arrow-down:before {
  content: "\e901";
}
.icon-arrow-up:before {
  content: "\e902";
}
