$icomoon-font-path: "fonts" !default;

$icon-plus: "\e900";
$icon-arrow-down: "\e901";
$icon-arrow-up: "\e902";
$icon-warning: "\e909";
$icon-folder-collapsed: "\e908";
$icon-folder: "\e92f";
$icon-loader: "\e982";
$icon-validate: "\e9b8";
$icon-file-multiple: "\e926";
$icon-filter: "\ea5b";
$icon-file-o: "\e906";
$icon-file: "\e907";
$icon-reload: "\f01e";
$icon-crosshairs: "\f05b";
$icon-expand: "\f065";
$icon-collapse: "\f066";
$icon-pin: "\f08d";
$icon-external-link: "\f08e";
$icon-menu: "\f142";
$icon-copy: "\e905";
$icon-edit: "\e904";
$icon-remove: "\e903";

