$color-bg: #fff;
$color-bg-highlight: #f0f0f0;

$color-primary: #009688;
$color-primary-dark: #095d55;
$color-primary-contrast: #ffffff;

$color-secondary: #2d3e46;
$color-secondary-contrast: #ffffff;

$color-danger: #E53935;
$color-danger-contrast: #ffffff;
$color-danger-bg: #ffefef;

$color-text: #000;
$color-text-light: #888;
$color-text-secondary: #ccc;
$color-text-secondary-highlight: #333;

$color-border: #ddd;
$color-disabled-bg: #ddd;