@import "variables";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?e65qhz');
  src:  url('#{$icomoon-font-path}/icomoon.eot?e65qhz#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?e65qhz') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?e65qhz') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?e65qhz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-folder-collapsed {
  &:before {
    content: $icon-folder-collapsed; 
  }
}
.icon-folder {
  &:before {
    content: $icon-folder; 
  }
}
.icon-loader {
  &:before {
    content: $icon-loader; 
  }
}
.icon-validate {
  &:before {
    content: $icon-validate; 
  }
}
.icon-file-o {
  &:before {
    content: $icon-file-o; 
  }
}
.icon-file {
  &:before {
    content: $icon-file; 
  }
}
.icon-reload {
  &:before {
    content: $icon-reload; 
  }
}
.icon-crosshairs {
  &:before {
    content: $icon-crosshairs; 
  }
}
.icon-expand {
  &:before {
    content: $icon-expand; 
  }
}
.icon-collapse {
  &:before {
    content: $icon-collapse; 
  }
}
.icon-pin {
  &:before {
    content: $icon-pin; 
  }
}
.icon-external-link {
  &:before {
    content: $icon-external-link; 
  }
}
.icon-menu {
  &:before {
    content: $icon-menu; 
  }
}
.icon-copy {
  &:before {
    content: $icon-copy; 
  }
}
.icon-edit {
  &:before {
    content: $icon-edit; 
  }
}
.icon-remove {
  &:before {
    content: $icon-remove; 
  }
}
.icon-plus {
  &:before {
    content: $icon-plus; 
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down; 
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up; 
  }
}

