@import "../../../../../../../config/config";

:local .toolbar {
  flex: 0 0 auto;
  border-bottom: 1px solid $color-border;
  padding: .5rem;
  display: flex;

  .toolbarLeft {
    flex: 1;
  }

  .toolbarRight {
    flex: 0 0 auto;
  }

  .search {
    width: 200px;
    height: 30px;
    font-size: 1rem;
  }
}
