@import "../../../../../../../config/config";

:local .toolbar {
  flex: 0 0 auto;
  border-bottom: 1px solid $color-border;
  padding: .5rem;
  display: flex;

  .toolbarLeft {
    display: flex;
  }

  .toolbarRight {
    flex: 0 0 auto;
    margin-left: .5rem;
  }

  .search {
    width: 200px;
    height: 30px;
    font-size: 1rem;
  }

  .btn {
    padding: .2rem;
    margin: 0 .2rem;
  }
}
