@import "../../../config/config";

:local .menu {
  list-style: none;
  padding: 0;
  margin: 0;

  a {
    color: $color-text;
    padding: 6px 10px;
    text-decoration: none;
    display: block;
  }

  a:hover {
    background-color: $color-bg-highlight;
  }
}