@import "../../../config/config";

$btnSize: 25px;

:local .buttons {
  flex: 0 30px;
  display: flex;
  flex-wrap: wrap;
  background-color: $color-primary-dark;
  border-bottom: 1px solid $color-secondary;

  & > a {
    flex: 0 $btnSize;
    text-align: center;
    color: $color-primary-contrast;
    padding: .2rem;
    border-right: 1px solid $color-secondary;
    margin-top: auto;
  }
}
