@import "../../../../../../../config/config";

:local .entry {
  border-bottom: 1px solid $color-border;
  padding: 0.5rem;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;

  .headline {
    padding: 4px;
    background-color: $color-bg-highlight;
    display: flex;

    h3 {
      margin: 0;
      flex: 1;
    }

    .collapseToggle {
      flex: 0;
      padding: 0 .5rem;
      align-self: center;
    }
  }

  .content {
    margin-top: .5rem;
  }

  .collapsed {
    display: none;
  }
}