@import "../../../config/config";

:local .wrapper{
  position: relative;
}

:local .dropdown{
  position: absolute;
  background-color: $color-bg;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}