@import "../../../../../../../config/config";

:local .wrapper {
  display: flex;
}

:local .buttons {
  display: flex;
  flex-direction: column;
  padding-left: .5rem;

  button {
    margin-bottom: .3rem;
  }
}

:local .error {
  border: 1px dotted $color-danger;
  margin-bottom: .5rem;
}
